In [40]:
import pandas as pd
import numpy as np
import csv
import os
import math

In [84]:
# load excel

df = pd.DataFrame()

for f in os.listdir():
    if('xls' in f):
        input_file = pd.read_excel(f).head(289)
        input_file = input_file.transpose().reset_index().rename(columns={'index':'id', 0:'Direction'}).head(5)
        input_file['id']=''
        input_file['Direction']=['', 'NB', 'SB', 'EB', 'WB']
        
        if math.isnan(input_file.iloc[1,2]) and math.isnan(input_file.iloc[2,2]):
            # if northbound and southbound are NAN
            input_file = input_file.drop([1,2])

        else:
            input_file = input_file.drop([3,4])
        input_file.iloc[0,2].date()
        input_file.insert(2, 'Day 1',input_file.iloc[0,2].date() )
        input_file.insert(0, 'Name', f)
        input_file = input_file.drop(0)
        df = df.append(input_file)

# input_file = pd.read_excel('Durham Rd betw. I-680 and Mission.xls').head(289)

# input_file = input_file.transpose().reset_index().rename(columns={'index':'id', 0:'Direction'}).head(5)
# input_file['id']=''
# input_file['Direction']=['', 'NB', 'SB', 'EB', 'WB']

# if math.isnan(input_file.iloc[1,2]) and math.isnan(input_file.iloc[2,2]):
#     # if northbound and southbound are NAN
#     input_file = input_file.drop([1,2])
    
# else:
#     input_file = input_file.drop([3,4])

# input_file.iloc[0,2].date()
# input_file.insert(2, 'Day 1',input_file.iloc[0,2].date() )
# #input_file = input_file.drop(0)
# # input_file.insert(2, "Age", [21, 23, 24, 21], True) 
# input_file.append(input_file)
# df = df.append(input_file)
df = df.reset_index().drop('index', axis=1)
df

,Name,id,Direction,Day 1,1,2,3,4,5,6,...,279,280,281,282,283,284,285,286,287,288
0,Durham Rd betw. I-680 and Mission.xls,,EB,2015-03-17,10,10,9,9,7,3,...,60,26,53,38,32,23,20,33,20,15
1,Durham Rd betw. I-680 and Mission.xls,,WB,2015-03-17,3,0,3,3,2,1,...,44,35,21,17,19,11,6,16,15,9
2,Grimmer Blvd (South) betw. Osgood and Fremont.xls,,EB,2015-03-24,8,9,9,5,9,5,...,38,50,62,45,44,29,22,22,9,7
3,Grimmer Blvd (South) betw. Osgood and Fremont.xls,,WB,2015-03-24,0,4,6,4,9,6,...,29,34,30,27,18,14,20,10,13,9
4,Grimmer Blvd (South) betw. Paseo Padre and Osg...,,EB,2015-03-17,4,4,2,1,4,1,...,34,31,32,28,8,20,12,21,14,6
5,Grimmer Blvd (South) betw. Paseo Padre and Osg...,,WB,2015-03-17,3,0,0,2,0,1,...,17,14,12,17,5,3,8,7,11,1
6,Mission Blvd betw. Durham and Curtner.xls,,NB,2015-03-17,1,4,8,4,5,3,...,57,44,45,42,23,29,24,23,18,13
7,Mission Blvd betw. Durham and Curtner.xls,,SB,2015-03-17,4,6,2,3,0,2,...,25,41,30,16,7,16,11,7,5,3
8,Mission Blvd betw. Mission Rd and St. Josephs.xls,,NB,2015-04-21,5,5,6,5,6,2,...,20,24,22,13,13,4,7,3,3,3
9,Mission Blvd betw. Mission Rd and St. Josephs.xls,,SB,2015-04-21,9,7,9,7,4,3,...,27,42,29,27,16,24,11,18,10,6
10,Mission Blvd betw. Pine and Durham.xls,,NB,2015-03-17,8,8,7,12,6,2,...,60,36,56,36,35,27,20,25,23,17
11,Mission Blvd betw. Pine and Durham.xls,,SB,2015-03-17,5,4,1,4,4,2,...,34,56,38,28,23,12,13,13,21,2
12,Mission Blvd betw. St. Josephs and Pine.xls,,NB,2015-03-10,7,4,3,4,6,2,...,80,33,37,63,22,32,10,6,11,7
13,Mission Blvd betw. St. Josephs and Pine.xls,,SB,2015-03-10,2,5,4,4,3,2,...,38,24,20,21,22,8,12,6,4,6
14,Paseo Padre Pkwy betw. Driscoll and Quema.xls,,EB,2015-03-31,5,3,3,3,3,1,...,51,42,46,16,20,24,12,26,16,8
15,Paseo Padre Pkwy betw. Driscoll and Quema.xls,,WB,2015-03-31,4,3,1,1,3,2,...,28,33,39,24,20,11,10,14,10,4
16,Paseo Padre Pkwy betw. Durham and Onondaga.xls,,NB,2015-03-17,1,2,0,0,1,0,...,16,6,9,13,3,7,3,4,5,4
17,Paseo Padre Pkwy betw. Durham and Onondaga.xls,,SB,2015-03-17,2,0,1,1,0,0,...,3,12,13,1,6,4,3,7,6,3
18,Paseo Padre Pkwy betw. Mission and Curtner.xls,,EB,2015-03-31,2,1,2,1,2,2,...,27,19,10,13,9,9,9,9,3,6
19,Paseo Padre Pkwy betw. Mission and Curtner.xls,,WB,2015-03-31,3,0,0,1,1,0,...,11,10,11,10,6,6,12,13,0,4
20,Paseo Padre Pkwy betw. Onondaga and Mission.xls,,NB,2015-03-17,4,1,1,1,1,0,...,6,12,11,9,4,9,2,4,7,2
21,Paseo Padre Pkwy betw. Onondaga and Mission.xls,,SB,2015-03-17,0,0,4,0,0,1,...,10,8,6,5,5,5,0,2,3,1
22,Paseo Padre Pkwy betw. Quema and Durham.xls,,NB,2015-03-17,4,2,4,2,1,3,...,23,7,12,17,10,10,9,2,8,6
23,Paseo Padre Pkwy betw. Quema and Durham.xls,,SB,2015-03-17,0,0,5,2,0,1,...,12,13,10,10,6,7,5,5,4,6
24,Warren Ave betw. Curtner and Warm Springs.xls,,EB,2015-04-21,4,3,2,0,1,0,...,11,15,19,13,11,4,10,8,4,3
25,Warren Ave betw. Curtner and Warm Springs.xls,,WB,2015-04-21,1,2,0,0,0,0,...,11,6,6,5,3,2,5,1,2,2
26,Washington Blvd betw. Driscoll and Paseo Padre...,,EB,2015-03-17,6,5,4,5,7,4,...,76,76,55,47,19,20,23,34,16,10
27,Washington Blvd betw. Driscoll and Paseo Padre...,,WB,2015-03-17,12,7,8,2,4,3,...,47,67,41,35,25,17,12,18,13,11
28,Washington Blvd betw. Paseo Padre and Mission.xls,,EB,2015-03-31,5,5,7,2,3,3,...,47,46,25,15,23,14,17,10,8,5
29,Washington Blvd betw. Paseo Padre and Mission.xls,,WB,2015-03-31,3,6,6,1,1,2,...,53,67,40,24,18,24,13,6,7,6

In [86]:
df.to_csv('2015_Flow_Processed.csv')